<link rel="stylesheet" href="trangchu.css"/>


<body>
<div class="trangchu">
    <div class="menu">
        <ul>
            <li><a href="http://localhost:6969/trangchu">Trang chủ</a></li>
            <li><a href="http://localhost:6969/sanpham">Sản phẩm</a></li>
            <li><a href="http://localhost:6969/gioithieu">Giới thiệu</a></li>
            <li class="feetback"><a href="http://localhost:6969/sanpham#">feedback</a></li>

        </ul>

    </div>
    <div class="background">
        <div class="text">
            <h2>D&N</h2>
           
        </div>
        <div class="anhnen">
            <img src="http://theme.hstatic.net/1000331486/1000529168/14/home-banner.jpg?v=18"/>
            
        </div>
    </div>
</div>
 <script type="text/javascript">
        $(document).ready(function () {
            $(".feetback").click(function () {
            alert("nhan 1 lan nua hien feedback")
            })

        })

    </script>

</body>