 <div class="main">
    <div class="menu">
        <ul>
            <li><a href="http://localhost:6969/trangchu">Trang chủ</a></li>
            <li><a href="http://localhost:6969/sanpham">Sản phẩm</a></li>
            <li><a href="http://localhost:6969/gioithieu">Giới thiệu</a></li>
            <li class="feetback"><a href="http://localhost:6969/sanpham#">feedback</a></li>


        </ul>

    </div>
    <div class="product">

        <div class="items" producid="1" id="pro-1">
            <img src="./img/img(1).jpg" alt="">



            <div class="price">

                <small>$40000</small>


            </div>
            <div class="title">
                <p>Black Whiskering Demin Jaket</p>
            </div>
            <div class="effect">
                <div class="effect2">
                    <a href="http://localhost:6969/giohang">MUA HÀNG</a>
                </div>
            </div>
        </div>
        <div class="items" producid="2" id="pro-2">
            <img src="./img/img(2).jpg">
            <div class="price">

                <small>$40000</small>


            </div>
            <div class="title">
                <p>Black Whiskering Demin Jaket</p>
            </div>
            <div class="effect">
                <div class="effect2">
                    <a href="http://localhost:6969/giohang">MUA HÀNG</a>
                </div>
            </div>
        </div>
        <div class="items" producid="3">
            <img src="./img/img(3).jpg">
            <div class="price">

                <small>$40000</small>


            </div>
            <div class="title">
                <p>Black Whiskering Demin Jaket</p>
            </div>
            <div class="effect">
                <div class="effect2">
                    <a href="http://localhost:6969/giohang">MUA HÀNG</a>
                </div>
            </div>
        </div>
        <div class="items">
            <img src="./img/img(4).jpg">
            <div class="price">

                <small>$40000</small>


            </div>
            <div class="title">
                <p>Bleached Blue Jeans</p>
            </div>
            <div class="effect">
                <div class="effect2">
                    <a href="http://localhost:6969/giohang">MUA HÀNG</a>
                </div>
            </div>
        </div>
        <div class="items">
            <img src="./img/img(5).jpg" alt="">
            <div class="price">

                <small>$40000</small>


            </div>
            <div class="title">
                <p>Bleached Blue Jeans</p>
            </div>
            <div class="effect">
                <div class="effect2">
                    <a href="http://localhost:6969/giohang">MUA HÀNG</a>
                </div>
            </div>

        </div>
        <div class="items">
            <img src="./img/img(6).jpg" alt="">
            <div class="price">

                <small>$40000</small>


            </div>
            <div class="title">
                <p>Black Whiskering Demin Jaket</p>
            </div>
            <div class="effect">
                <div class="effect2">
                    <a href="http://localhost:6969/giohang">MUA HÀNG</a>
                </div>
            </div>

        </div>
        <div class="items">
            <img src="./img/img(7).jpg" alt="">
            <div class="price">

                <small>$40000</small>


            </div>
            <div class="title">
                <p>Black Whiskering Demin Jaket</p>
            </div>
            <div class="effect">
                <div class="effect2">
                    <a href="http://localhost:6969/giohang">MUA HÀNG</a>
                </div>
            </div>

        </div>
        <div class="items">
            <img src="./img/img(8).jpg" alt="">
            <div class="price">

                <small>$40000</small>


            </div>
            <div class="title">
                <p>Black Whiskering Demin Jaket</p>
            </div>
            <div class="effect">
                <div class="effect2">
                    <a href="http://localhost:6969/giohang">MUA HÀNG</a>
                </div>
            </div>

        </div>
        <div class="items">
            <img src="./img/img(9).jpg" alt="">
            <div class="price">

                <small>$40000</small>


            </div>
            <div class="title">
                <p>Black Whiskering Demin Jaket</p>
            </div>
            <div class="effect">
                <div class="effect2">
                    <a href="http://localhost:6969/giohang">MUA HÀNG</a>
                </div>
            </div>

        </div>
        <div class="items">
            <img src="./img/img(10).jpg" alt="">
            <div class="price">

                <small>$40000</small>


            </div>
            <div class="title">
                <p>Black Whiskering Demin Jaket</p>
            </div>
            <div class="effect">
                <div class="effect2">
                    <a href="http://localhost:6969/giohang">MUA HÀNG</a>
                </div>
            </div>

        </div>
        <div class="items">
            <img src="./img/img(11).jpg" alt="">
            <div class="price">

                <small>$40000</small>


            </div>
            <div class="title">
                <p>Black Whiskering Demin Jaket</p>
            </div>
            <div class="effect">
                <div class="effect2">
                    <a href="http://localhost:6969/giohang">MUA HÀNG</a>
                </div>
            </div>

        </div>
        <div class="items">
            <img src="./img/img(12).jpg" alt="">
            <div class="price">

                <small>$40000</small>


            </div>
            <div class="title">
                <p>Black Whiskering Demin Jaket</p>
            </div>
            <div class="effect">
                <div class="effect2">
                    <a href="http://localhost:6969/giohang">MUA HÀNG</a>
                </div>
            </div>

        </div>
        <div class="items">
            <img src="./img/img(3).jpg" alt="">
            <div class="price">

                <small>$40000</small>
            </div>
            <div class="title">
                <p>Black Whiskering Demin Jaket</p>
            </div>
            <div class="effect">
                <div class="effect2">
                    <a href="http://localhost:6969/giohang">MUA HÀNG</a>
                </div>
            </div>

        </div>
        <div class="items">
            <img src="./img/img(13).jpg" alt="">
            <div class="price">

                <small>$40000</small>


            </div>
            <div class="title">
                <p>Black Whiskering Demin Jaket</p>
            </div>
            <div class="effect">
                <div class="effect2">
                    <a href="http://localhost:6969/giohang">MUA HÀNG</a>
                </div>
            </div>

        </div>
        <div class="items">
            <img src="./img/img(4).jpg" alt="">
            <div class="price">

                <small>$40000</small>


            </div>
            <div class="title">
                <p>Black Whiskering Demin Jaket</p>
            </div>
            <div class="effect">
                <div class="effect2">
                    <a href="http://localhost:6969/giohang">MUA HÀNG</a>
                </div>
            </div>

        </div>
        <div class="items">
            <img src="./img/img(14).jpg" alt="">
            <div class="price">

                <small>$40000</small>


            </div>
            <div class="title">
                <p>Black Whiskering Demin Jaket</p>
            </div>
            <div class="effect">
                <div class="effect2">
                    <a href="http://localhost:6969/giohang">MUA HÀNG</a>
                </div>
            </div>

        </div>
        <div class="items">
            <img src="./img/img(2).jpg" alt="">
            <div class="price">

                <small>$40000</small>


            </div>
            <div class="title">
                <p>Black Whiskering Demin Jaket</p>
            </div>
            <div class="effect">
                <div class="effect2">
                    <a href="http://localhost:6969/giohang">MUA HÀNG</a>
                </div>
            </div>

        </div>
        <div class="items">
            <img src="./img/img(12).jpg" alt="">
            <div class="price">

                <small>$40000</small>


            </div>
            <div class="title">
                <p>Black Whiskering Demin Jaket</p>
            </div>
            <div class="effect">
                <div class="effect2">
                    <a href="http://localhost:6969/giohang">MUA HÀNG</a>
                </div>
            </div>

        </div>
        <div class="items">
            <img src="./img/img(1).jpg" alt="">
            <div class="price">

                <small>$40000</small>


            </div>
            <div class="title">
                <p>Black Whiskering Demin Jaket</p>
            </div>
            <div class="effect">
                <div class="effect2">
                    <a href="http://localhost:6969/giohang">MUA HÀNG</a>
                </div>
            </div>

        </div>
        <div class="items">
            <img src="./img/img(7).jpg" alt="">
            <div class="price">

                <small>$40000</small>


            </div>
            <div class="title">
                <p>Black Whiskering Demin Jaket</p>
            </div>
            <div class="effect">
                <div class="effect2">
                    <a href="http://localhost:6969/giohang">MUA HÀNG</a>
                </div>
            </div>

        </div>

    </div>
    <div class="bag">
        <div class="bag-content">
            <div class="thoat">
                <p>thoat</p>
            </div>

            <div class="container">
                <h2>Feedback</h2>

                <div class="feetback">
                    <form action="/" method="POST">
                        <textarea id="input" class="form-control" rows="4" cols="40" type="text"
                            name="question"></textarea>
                        <span>con <span id="character">200</span>/200 ky tu</span>
                        <button style="display: block;" class="btn btn-primary" type="submit">Gui</button>
                    </form>
                </div>
            </div>




        </div>

    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".feetback").click(function () {
                $(".bag-content").animate({ right: 0 },350);
                $(".product").animate({left:0},350);
                $(".menu").animate({ opacity: 0 },350);
              
            })
            $(".thoat p").click(function () {
                $(".bag-content").animate({ right: -380},350);
                $(".product").animate({ left:255},350);
                $(".menu").animate({ opacity: 1 },350);

            })

        })

    </script>