div{
    display: block;
}
.main{
    display: flex;
}
.mennu{
    width:15%;
    height: 100%;
}

.menu ul{
    position: fixed;
    display: block;
    top:0;
    left: 0;
    padding:50px 20px;
    box-sizing: border-box;
    width:15%;
    height: 100%;
    z-index: 2;
    overflow-y: auto;
    
  
}
.menu ul li{
    list-style-type: none;
}
.menu ul li a{
    display: block;
    color:rgb(24, 21, 21);
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    transform: 0.5s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu ul li a:hover{
    transform: translate(10px);
    color:yellowgreen;
}
.product{
  position: relative;
   
   display: flex;
    width:80%;
    height: 100%;
    flex-wrap: wrap ;
    left: 20%;
    top: 63px;

}
.items{
    width: 20%;
    padding: 15px;
    margin-bottom:20em ;
  
    position: relative;
    text-align: center;
    display: flex;
    cursor: pointer;
   

}
.items img{
    position: absolute;
    width: 90%;
   
        opacity: 1;
        display: block;
        width:100%;
       
        transition:.5s ease ;
    
    
    
    
}
.items .price{
    position: relative;
   width:20px;
   
   font-size:larger;
}
 

.effect2{
    position: absolute;
    top:200px;
    left:55%;
    transform: translate(-50%,-50%);
    width:50%;
    height: 24px;
    font-size:60px;
    overflow: hidden;
    opacity: 1;
}
.effect2 a{
    font-size:24px;
    display: block;
    background: #ff7711;
    text-align: center;
    cursor: pointer;

}
.effect {
    opacity: 0;
}
.items:hover img{
    opacity: .5;
}
.items:hover .effect{
    opacity: 1;
}
.items .title{
    z-index: 3;
    position: relative;
    top:310px;
}
 
