div{
    display:block;
}
.khung{
    background: #fff;
    width:25%;
    height: 70%;
    position: relative;
    left: 50%;
    top:20%;

}

.ndkhung h3{
    background: #1a3ea1  ;
    padding:8px 10px;
    margin: 0   ;
    border:1px solid #4f78e7

}
.thankhung{
    border: 1px solid gray;
    padding:10px;
    background-color: #fff;
}
.ndkhung h3:hover{
    background: url(public/img/arrow1_s.png) no-repeat  #1a3ea1 right  ;

}

.ndkhung h3.maukhung{
    background: #f3af31;
}
.ndkhung h3.maukhung:hover{
    background:url(public/img/arrow1_n.png) no-repeat rgb(173, 118, 15) right;
 

