 
 


<body>
    <div class="main">
        <div class="menu">
            <ul>
                <li><a href="#">Trang chu</a></li>
                <li><a href="#">San pham</a></li>
                <li><a href="#">Giới thiệu</a></li>
                <li class="danhgia"><a href="#">feetback</a></li>


            </ul>

        </div>
        <div class="product">

            <div class="items">
                <img src="./img/img(1).jpg" >



                <div class="price">

                    <small>$40000</small>


                </div>
                <div class="title">
                    <p>Black Whiskering Demin Jaket</p>
                </div>
                <div class="effect">
                    <div class="effect2">
                        <a href="file:///C:/Users/User/Documents/web/index.html">MUA HÀNG</a>
                    </div>
                </div>
            </div>
            <div class="items"producid="2" id="pro-2">
                <img src="./img/img(2).jpg">
                <div class="price">

                    <small>$40000</small>


                </div>
                <div class="title">
                    <p>Black Whiskering Demin Jaket</p>
                </div>
                <div class="effect">
                    <div class="effect2">
                        <a href="file:///C:/Users/User/Documents/web/index.html">MUA HÀNG</a>
                    </div>
                </div>
            </div>
            <div class="items"producid="3">
                <img src="./img/img(3).jpg">
                <div class="price">

                    <small>$40000</small>


                </div>
                <div class="title">
                    <p>Black Whiskering Demin Jaket</p>
                </div>
                <div class="effect">
                    <div class="effect2">
                       <a href="file:///C:/Users/User/Documents/web/index.html">MUA HÀNG</a>
                    </div>
                </div>
            </div>
            <div class="items">
                <img src="./img/img(4).jpg">
                <div class="price">

                    <small>$40000</small>


                </div>
                <div class="title">
                    <p>Bleached Blue Jeans</p>
                </div>
                <div class="effect">
                    <div class="effect2">
                       <a href="file:///C:/Users/User/Documents/web/index.html">MUA HÀNG</a>
                    </div>
                </div>
            </div>
            <div class="items">
                <img src="./img/img(5).jpg" alt="">
                <div class="price">

                    <small>$40000</small>


                </div>
                <div class="title">
                    <p>Bleached Blue Jeans</p>
                </div>
                <div class="effect">
                    <div class="effect2">
                       <a href="file:///C:/Users/User/Documents/web/index.html">MUA HÀNG</a>
                    </div>
                </div>

            </div>
            <div class="items">
                <img src="./img/img(6).jpg" alt="">
                <div class="price">

                    <small>$40000</small>


                </div>
                <div class="title">
                    <p>Black Whiskering Demin Jaket</p>
                </div>
                <div class="effect">
                    <div class="effect2">
                       <a href="file:///C:/Users/User/Documents/web/index.html">MUA HÀNG</a>
                    </div>
                </div>

            </div>
            <div class="items">
                <img src="./img/img(7).jpg" alt="">
                <div class="price">

                    <small>$40000</small>


                </div>
                <div class="title">
                    <p>Black Whiskering Demin Jaket</p>
                </div>
                <div class="effect">
                    <div class="effect2">
                       <a href="file:///C:/Users/User/Documents/web/index.html">MUA HÀNG</a>
                    </div>
                </div>

            </div>
            <div class="items">
                <img src="./img/img(8).jpg" alt="">
                <div class="price">

                    <small>$40000</small>


                </div>
                <div class="title">
                    <p>Black Whiskering Demin Jaket</p>
                </div>
                <div class="effect">
                    <div class="effect2">
                       <a href="file:///C:/Users/User/Documents/web/index.html">MUA HÀNG</a>
                    </div>
                </div>

            </div>
            <div class="items">
                <img src="./img/img(9).jpg" alt="">
                <div class="price">

                    <small>$40000</small>


                </div>
                <div class="title">
                    <p>Black Whiskering Demin Jaket</p>
                </div>
                <div class="effect">
                    <div class="effect2">
                       <a href="file:///C:/Users/User/Documents/web/index.html">MUA HÀNG</a>
                    </div>
                </div>

            </div>
            <div class="items">
                <img src="./img/img(10).jpg" alt="">
                <div class="price">

                    <small>$40000</small>


                </div>
                <div class="title">
                    <p>Black Whiskering Demin Jaket</p>
                </div>
                <div class="effect">
                    <div class="effect2">
                       <a href="file:///C:/Users/User/Documents/web/index.html">MUA HÀNG</a>
                    </div>
                </div>

            </div>
            <div class="items">
                <img src="./img/img(11).jpg" alt="">
                <div class="price">

                    <small>$40000</small>


                </div>
                <div class="title">
                    <p>Black Whiskering Demin Jaket</p>
                </div>
                <div class="effect">
                    <div class="effect2">
                       <a href="file:///C:/Users/User/Documents/web/index.html">MUA HÀNG</a>
                    </div>
                </div>

            </div>
            <div class="items">
                <img src="./img/img(12).jpg" alt="">
                <div class="price">

                    <small>$40000</small>


                </div>
                <div class="title">
                    <p>Black Whiskering Demin Jaket</p>
                </div>
                <div class="effect">
                    <div class="effect2">
                       <a href="file:///C:/Users/User/Documents/web/index.html">MUA HÀNG</a>
                    </div>
                </div>

            </div>
            <div class="items">
                <img src="./img/img(3).jpg" alt="">
                <div class="price">

                    <small>$40000</small>
                </div>
                <div class="title">
                    <p>Black Whiskering Demin Jaket</p>
                </div>
                <div class="effect">
                    <div class="effect2">
                       <a href="file:///C:/Users/User/Documents/web/index.html">MUA HÀNG</a>
                    </div>
                </div>

            </div>
            <div class="items">
                <img src="./img/img(13).jpg" alt="">
                <div class="price">

                    <small>$40000</small>


                </div>
                <div class="title">
                    <p>Black Whiskering Demin Jaket</p>
                </div>
                <div class="effect">
                    <div class="effect2">
                       <a href="file:///C:/Users/User/Documents/web/index.html">MUA HÀNG</a>
                    </div>
                </div>

            </div>
            <div class="items">
                <img src="./img/img(4).jpg" alt="">
                <div class="price">

                    <small>$40000</small>


                </div>
                <div class="title">
                    <p>Black Whiskering Demin Jaket</p>
                </div>
                <div class="effect">
                    <div class="effect2">
                       <a href="file:///C:/Users/User/Documents/web/index.html">MUA HÀNG</a>
                    </div>
                </div>

            </div>
            <div class="items">
                <img src="./img/img(14).jpg" alt="">
                <div class="price">

                    <small>$40000</small>


                </div>
                <div class="title">
                    <p>Black Whiskering Demin Jaket</p>
                </div>
                <div class="effect">
                    <div class="effect2">
                       <a href="file:///C:/Users/User/Documents/web/index.html">MUA HÀNG</a>
                    </div>
                </div>

            </div>
            <div class="items">
                <img src="./img/img(2).jpg" alt="">
                <div class="price">

                    <small>$40000</small>


                </div>
                <div class="title">
                    <p>Black Whiskering Demin Jaket</p>
                </div>
                <div class="effect">
                    <div class="effect2">
                       <a href="file:///C:/Users/User/Documents/web/index.html">MUA HÀNG</a>
                    </div>
                </div>

            </div>
            <div class="items">
                <img src="./img/img(12).jpg" alt="">
                <div class="price">

                    <small>$40000</small>


                </div>
                <div class="title">
                    <p>Black Whiskering Demin Jaket</p>
                </div>
                <div class="effect">
                    <div class="effect2">
                       <a href="file:///C:/Users/User/Documents/web/index.html">MUA HÀNG</a>
                    </div>
                </div>

            </div>
            <div class="items">
                <img src="./img/img(1).jpg" alt="">
                <div class="price">

                    <small>$40000</small>


                </div>
                <div class="title">
                    <p>Black Whiskering Demin Jaket</p>
                </div>
                <div class="effect">
                    <div class="effect2">
                       <a href="file:///C:/Users/User/Documents/web/index.html">MUA HÀNG</a>
                    </div>
                </div>

            </div>
            <div class="items">
                <img src="./img/img(7).jpg" alt="">
                <div class="price">

                    <small>$40000</small>


                </div>
                 <div class="title">
                    <p>Black Whiskering Demin Jaket</p>
                </div>
                <div class="effect">
                    <div class="effect2">
                       <a href="file:///C:/Users/User/Documents/web/index.html">MUA HÀNG</a>
                    </div>
                </div>

            </div>

        </div>
        <div class="bag">
            <div class="bag-content">
                
                <div class="container">
                    <h1>Dang cau hoi ne</h1>
                <div class="feetback">
                    <form action="/" method="POST">
                        <textarea id="input" class="form-control" rows="4" cols="40" type="text" name="question"></textarea>
                        <span>con <span id="character">200</span>/200 ky tu</span>
                        <button style="display: block;" class="btn btn-primary" type="submit">Gui</button>
                    </form>
                </div>
                </div>
                
                
                

        </div>

    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".danhgia").click(function () {
                $(".bag-content").toggleClass("active")
            })
            $(".danhgia").click(function () {
                $(".product").toggleClass("active")
            })
            $(".danhgia").click(function () {
                $(".menu").toggleClass("active")
            })
             




        })

    </script>
    </body>
   
